<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/home.css">

<div class="container">
    <div class="half red">
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="about">About </a>
            <a href="#">How to Use</a>
            <a href="login">Sign In</a>
            <a href="logout">Log Out</a>
        </div> 
        <header>
            <h1>Welcome to AutoScribe!</h1>
          </header>
          <section id="description">
            <h2>About the website</h2>
            <p> AutoScribe streamlines tasks across multiple industries by auto-populating any form based on unstructured user input, solving the problem of unstructured data storage. It reduces the time and resources necessary for tasks such as medical report creation in hospitals and documentation of service requests in hospitality-based industries. Scholars and researchers can benefit from its ability to facilitate source search and referencing. AutoScribe reaches its target audience through advertisement space on writing-based platforms like Grammarly, using native and incentivized advertising techniques for increased brand awareness. It has the potential to revolutionize record-keeping and data storage.</p>
            <button class="start-now-btn" onclick="location.href='sign-up'">Start Now</button>
        </section>
    
    </div>
    <div class="half gray"></div>
</div>